# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*.so

# Ignorar archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignorar logs y archivos temporales
*.log
*.tmp
*.swp
*.swo
.DS_Store  # Para MacOS

# Ignorar archivos de configuración de entornos virtuales
.env
.venv/
venv/
Pipfile
Pipfile.lock

# Ignorar archivos de caché de pip
pip-log.txt
pip-wheel-metadata/
pip-selfcheck.json
*.egg-info/

# Ignorar metadata generada por PyKOA
downloads/
*.tbl
koa_metadata_*.tbl
download_metadata.tbl

# Ignorar archivos FITS y txt descargados
*.fits
*.txt

# Ignorar archivos de caché de Git y otros directorios temporales
*.bak
*.old
*.backup
*.temp


